# Executables
accountingtest
clientstest
productstest
salestest
gesthiper
*.out

#Object Files
*.o

# Large Files
salesfile.txt
salesfile2.txt
salesfile3.txt

#Swap files
*.swp

#DS_Store
.DS_Store

#dSYM
*.dSYM

#Created FIles
compras-*